@tailwind components;

@tailwind utilities;

@import 'custom.scss';

.block-editor__typewriter {
    @apply font-sans entry-content;
}

.wp-block{
    @apply max-w-screen-lg;
}

.wp-block[data-align=wide] {
    @apply max-w-screen-xl;
}

.wp-block[data-align=full] {
    @apply max-w-full;
}