

/* Condensed Open Sans */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}



/* Base typography styles */
html {
    @apply font-sans;
}