@utility container {
    max-width: var(--wp--style--global--wide-size);
}

@utility alignfull {
    width: 100vw;
    margin: 0 calc(50% - 50vw) !important;
}

@utility alignwide {
    width: calc(200px + var(--wp--style--global--wide-size));

    img {
        width: 100%;

        margin: 0 -100px 0 -100px !important;
    }
}

@utility alignnone {
    height: auto;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

@utility aligncenter {
    margin: 0.5rem auto !important;
}
